/* Dark Mode */
html{
    font-size: 22px
}

body{
    background-color: #333;
    color: whitesmoke;
}

a {
    color: aliceblue;
}

a:visited {
    color: lightgray
}

a:hover, a:active {
    color: #eee;
}

a:link {
    color: whitesmoke;
    text-decoration: underline;

}

table, tr, th, td, caption {
    border:1px solid #eee;
    font-family: 'courier New', courier, monospace;
    border-collapse: collapse;
    padding: o.5rem;
}
/* End Dark Mode */
/* Z2CH Website Styles */